@charset "UTF-8";

@font-face {
  font-family: "tarjeta";
  src:url("../fonts/tarjeta.eot");
  src:url("../fonts/tarjeta.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tarjeta.woff") format("woff"),
    url("../fonts/tarjeta.ttf") format("truetype"),
    url("../fonts/tarjeta.svg#tarjeta") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tarjeta" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tarjeta" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-whatsapp:before {
  content: "\61";
}
.icon-phone:before {
  content: "\62";
}
.icon-mail:before {
  content: "\63";
}
.icon-maps:before {
  content: "\64";
}
.icon-link:before {
  content: "\65";
}
.icon-web:before {
  content: "\66";
}
